/**
 * Use relative root path for imports.
 * @import "./src-pkg/module/index.pcss"; -> false
 * @import "./module/index.pcss"; -> true
 */

@import "./figcaption/index.pcss";
@import "./headline/index.pcss";
@import "./link/index.pcss";
@import "./text/index.pcss";
@import "./picture/index.pcss";
