@import "./src/pcss/partials/figcaption.pcss";
@import "./src/pcss/partials/headline.pcss";
@import "./src/pcss/partials/link.pcss";
@import "./src/pcss/partials/text.pcss";
@import "./src/pcss/partials/picture.pcss";
