.pkg[data-pkg="agency-pkg-elements/link/image"] {
  position: relative;
  display: inline-block;

  .pkg[data-pkg*="agency-pkg-elements/headline"] {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 60%;
    margin: auto;
    text-align: center;
  }
}
